$primary-dark: #323643;
// $primary-white:#e0e0e0;
$primary-white:#f0f0f3;
$color-blue: #3088f4;
$color-background: #fefefe;
$color-shadow: #606470;
$color-white: #FFF;

$petroleum-lighter: #f3e9d2;
$petroleum-light: #88d498;
$petroleum-primary: #1a936f;
$petroleum-dark: darken($petroleum-primary, 10%);
